<div class="todo-block">
  <div class="title">
    <h3>Todo App</h3>
  </div>
  <form class="todo-form">
    <mat-form-field color='warn'>
      <input matInput dividerColor="warn" placeholder="Add ToDo"  [(ngModel)] = "todo" name = "todo">
    </mat-form-field>
    <div class="todo-add">
      <button mat-mini-fab color="warn" (click)="addTodo()">+</button>
    </div>
  </form>
</div>

<div *ngFor="let item of items$ | async" class="items-block">
      <todo-item [item] = 'item'> </todo-item>
</div>
<div *ngIf = '(items$ | async).length' >
  Completed  {{(selected$ | async).length}} of  {{(items$ | async).length}}
</div>


