<div class="form-container shadow">
  <div class="icon">
    <i class="mdi mdi-account-circle"></i>
    <div class="header"> Login</div>
  </div>
  <div class="inputs">
    <form>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

        <input type="email" placeholder="email">
        <input type="text" placeholder="username">
        <input type="text" placeholder="phone number">
        <input type="password" placeholder="password">

      </div>
    </form>
    <div class="buttons">

      <span class="signup">
                <a>Sign up here</a>
            </span>
      <div class="link">
        <div class="link" style="padding-bottom:0;">
          <button class="md-raised primary" ui-sref="home"> Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
