<div class="form-container shadow">
  <div class="icon">
    <i class="mdi mdi-account-circle"></i>
    <div class="header">
      Sign Up
    </div>
  </div>
  <div class="inputs">
    <form>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">

          <input type="text" placeholder="name">

      </div>
    </form>
    <div class="buttons">
      <span class="signup">
                <a >Login here</a>
            </span>
      <div class="link">
        <div class="link" style="padding-bottom:0;">
          <button class="md-raised primary" ui-sref="home"> Signup </button>
        </div>
      </div>
    </div>
  </div>
</div>
