<div class="form-container shadow">
  <div class="icon">
    <mat-icon >account_circle</mat-icon>
    <div class="header"> Register</div>
  </div>
  <div class="inputs">
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Username">

      </mat-form-field>
      <mat-form-field>

        <input  matInput type="password" placeholder="Email">
      </mat-form-field>
      <mat-form-field>

        <input  matInput type="password" placeholder="Number">
      </mat-form-field>


        <mat-form-field>
        <input  matInput type="password" placeholder="Password">
      </mat-form-field>

    </form>
    <div class="buttons">
      <button mat-raised-button color="warn">Sign Up</button>

    </div>
  </div>
</div>


